@model TuristTravel.Model.Destinacija


<div class="form-group">
	<label class="control-label">Naziv</label>
	<input asp-for="Naziv" class="form-control" />
	<span asp-validation-for="Naziv" class="text-danger"></span>
</div>

<div class="form-group">
	<label class="control-label">Opis</label>
	<input asp-for="Opis" class="form-control" />
	<span asp-validation-for="Opis" class="text-danger"></span>
</div>



<div class="form-group">
	<input type="submit" value="Spremi" class="btn btn-outline-success" />
</div>
