@using TuristTravel.Model
@model List<Ponuda>

@{
    ViewData["Title"] = "Destinacije";
}

<style>
    .form-inline .form-group {
        margin-right: 10px;
    }

    .form-inline {
        margin-bottom: 20px;
    }
</style>

<div style="margin-top: 20px;">
    <h4>Destinacije</h4>
    <form id="ponuda-form" method="post" class="form-inline">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" name="Destinacija.Naziv" placeholder="Pretraga po destinaciji">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" name="Naziv" placeholder="Naziv">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" name="Opis" placeholder="Opis">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="number" class="form-control" name="Cijena" placeholder="Cijena">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="date" class="form-control" name="pocetakPutovanja" placeholder="Pocetak Putovanja">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="date" class="form-control" name="krajPutovanja" placeholder="Kraj Putovanja">
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" class="btn btn-success float-right">Dodaj novu ponudu</a>
    </div>
</div>

<div id="table-container">
    @await Html.PartialAsync("IndexTable", Model)
</div>


<script>
    $(document).ready(function () {
        $('#ponuda-form').submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting via the browser

            const formData = $(this).serialize();

            $.ajax({
                url: "@Url.Action("IndexFilter")",
                method: "POST",
                data: formData,
                success: function (html) {
                    $('#table-container').html(html);
                }
            });
        });
    });
</script>

